.txt-negro {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-negro1 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-azul {
	FONT-SIZE: 11px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-0-azul {
	FONT-SIZE: 11px; COLOR: #083c78; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-gris {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-gris2 {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-verde {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-verde2 {
	FONT-SIZE: 11px; COLOR: #737c1e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-naranja {
	FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-naranja2 {
	FONT-SIZE: 11px; COLOR: #d4721b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-naranjab {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt-rojo {
	FONT-SIZE: 11px; COLOR: #9c1c18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-rojo2 {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-blanco {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-d9 {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-obligatorio {
	FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-letrachica {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt-9-azul {
	FONT-SIZE: 9px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-9-blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-9 {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-9-negro {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-9-rojo {
	FONT-SIZE: 9px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-10-negro {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-celeste {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #afd1fa; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt-negro_padd {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-0-azuldark {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-0-blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-0-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-0-naranja {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-1-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-1-blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-1-naranja {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-1-rojo {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #9c1c18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-0-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-0-rojo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #9c1c18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-0-naranja {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffdd99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-0-verde {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #548d3b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-gris {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-azul {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #47658e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-azul-4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #47658e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-verde-4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #226e26; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-rojo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e62e01; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-naranja {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-1-verde {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #548d3b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-2-azul {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6789b9; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-2-naranja {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #d4721b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-3-azul {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3a98ce; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.destacados-azul-crm {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; COLOR: #0e2d64; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.destacados-azul-crm2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0560a6; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.destacados-1-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.destacados-1-azul {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.destacado-azul5 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #87a2b7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.destacado-verde4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4d7f84; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.destacado-office {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ef4810; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt-msdn-azul-1 {
	FONT-SIZE: 11px; COLOR: #4b5f91; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-msdn-notas {
	FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-violeta {
	FONT-SIZE: 11px; COLOR: #87329c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-negro:active {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro:hover {
	COLOR: #787878
}
A.link-negro10-bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro10-bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro10-bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro10-bold:hover {
	COLOR: #787878
}
A.link-negro9:active {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro9:visited {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro9:link {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro9:hover {
	COLOR: #333333
}
A.link-negro-2:active {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-negro-2:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-negro-2:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-negro-2:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-blanco:active {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-blanco:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-blanco:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-blanco:hover {
	COLOR: #eaeaea
}
A.link-azul:active {
	FONT-SIZE: 11px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-azul:visited {
	FONT-SIZE: 11px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-azul:link {
	FONT-SIZE: 11px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-azul:hover {
	COLOR: #4281ae
}
A.link-azul3:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0079b6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0079b6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0079b6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul3:hover {
	COLOR: #666666
}
A.link-azul10:active {
	FONT-SIZE: 10px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-azul10:visited {
	FONT-SIZE: 10px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-azul10:link {
	FONT-SIZE: 10px; COLOR: #08558c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-azul10:hover {
	COLOR: #ff9900
}
A.link-azul1:active {
	FONT-SIZE: 11px; COLOR: #0560a6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul1:visited {
	FONT-SIZE: 11px; COLOR: #0560a6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul1:link {
	FONT-SIZE: 11px; COLOR: #0560a6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul1:hover {
	COLOR: #3c8bc7
}
A.link-azul2:active {
	FONT-SIZE: 14px; COLOR: #0560a6; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link-azul2:visited {
	FONT-SIZE: 14px; COLOR: #0560a6; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link-azul2:link {
	FONT-SIZE: 14px; COLOR: #0560a6; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.link-azul2:hover {
	COLOR: #3c8bc7
}
A.link-gris:active {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-gris:visited {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-gris:link {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-gris:hover {
	COLOR: #999999
}
A.link-gris-2:active {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-gris-2:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-gris-2:link {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-gris-2:hover {
	COLOR: #999999
}
A.link-gris-3:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d3235; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-gris-3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d3235; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-gris-3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d3235; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-gris-3:hover {
	COLOR: #999999
}
A.link-verde:active {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-verde:visited {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-verde:link {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-verde:hover {
	COLOR: #3b975a
}
A.link-naranja:active {
	FONT-SIZE: 11px; COLOR: #f76135; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja:visited {
	FONT-SIZE: 11px; COLOR: #f76135; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja:link {
	FONT-SIZE: 11px; COLOR: #f76135; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja:hover {
	COLOR: #666666
}
A.link-naranja2:active {
	FONT-SIZE: 11px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja2:visited {
	FONT-SIZE: 11px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja2:link {
	FONT-SIZE: 11px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja2:hover {
	COLOR: #666666
}
A.link-naranja-bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #f97e24; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja-bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #f97e24; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja-bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #f97e24; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja-bold:hover {
	COLOR: #666666
}
A.link-rojo:active {
	FONT-SIZE: 11px; COLOR: #9c1c18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo:visited {
	FONT-SIZE: 11px; COLOR: #9c1c18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo:link {
	FONT-SIZE: 11px; COLOR: #9c1c18; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo:hover {
	COLOR: #b2312d
}
A.link-rojo-2:active {
	FONT-SIZE: 11px; COLOR: #9d3928; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo-2:visited {
	FONT-SIZE: 11px; COLOR: #9d3928; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo-2:link {
	FONT-SIZE: 11px; COLOR: #9d3928; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo-2:hover {
	COLOR: #ba5847
}
A.link-rojo-3:active {
	FONT-SIZE: 11px; COLOR: #f14c45; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo-3:visited {
	FONT-SIZE: 11px; COLOR: #f14c45; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo-3:link {
	FONT-SIZE: 11px; COLOR: #f14c45; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-rojo-3:hover {
	COLOR: #f8726c
}
A.link-subir-gris:link {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-subir-gris:active {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-subir-gris:visited {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-subir-gris:hover {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.msdn-desplegable:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #47658e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.msdn-desplegable:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #47658e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.msdn-desplegable:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #47658e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.msdn-desplegable:hover {
	COLOR: #2b7bc6
}
A.link-azul-titulo:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3466a2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul-titulo:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3466a2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul-titulo:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3466a2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-azul-titulo:hover {
	COLOR: #658bba
}
A.link-msdn-notas:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-msdn-notas:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-msdn-notas:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-msdn-notas:hover {
	COLOR: #ff9900
}
A.link-neod-violeta:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #87329c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-neod-violetas:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #87329c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-neod-violeta:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #87329c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-neod-violeta:hover {
	COLOR: #87329c
}
A.blanco:link {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blanco:active {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blanco:visited {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blanco:hover {
	TEXT-DECORATION: underline
}
A.blanco2:link {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blanco2:active {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blanco2:visited {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blanco2:hover {
	COLOR: #cccccc
}
A.link-salmon:link {
	FONT-SIZE: 11px; COLOR: #a54915; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-salmon:active {
	FONT-SIZE: 11px; COLOR: #a54915; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-salmon:visited {
	FONT-SIZE: 11px; COLOR: #a54915; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-salmon:hover {
	FONT-SIZE: 11px; COLOR: #a54915; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-verde4:link {
	FONT-SIZE: 11px; COLOR: #4d7f84; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-verde4:active {
	FONT-SIZE: 11px; COLOR: #4d7f84; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-verde4:visited {
	FONT-SIZE: 11px; COLOR: #4d7f84; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.link-verde4:hover {
	COLOR: #999999
}
A.link-dynamics:active {
	FONT-SIZE: 11px; COLOR: #0e4876; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-dynamics:visited {
	FONT-SIZE: 11px; COLOR: #0e4876; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-dynamics:link {
	FONT-SIZE: 11px; COLOR: #0e4876; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-dynamics:hover {
	TEXT-DECORATION: underline
}
.tb-azul-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #08558c
}
.tb-azul-2 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0099ff
}
.tb-azul-3 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c1e3fa
}
.tb-azul-4 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #edf6ff
}
.tb-azul5 {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #87a2b7
}
.tb-azul-6 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cde0f3
}
.tb-azul-7 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #99bdd7
}
.tb-azul-8 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #76c0ed
}
.tb-azul-9 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #4b92d9
}
.tb-gris-1 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f1f1f1
}
.tb-gris-1b {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1
}
.tb-gris-2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.tb-gris-3 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999999
}
.tb-gris-5 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.tb-gris-6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #666666
}
.tb-gris-7 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e9e9e9
}
.tb-gris-8 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9f9f9
}
.tb-verde-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #007929
}
.tb-verde-2 {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #4fb104
}
.tb-verde-3 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e5f7d3
}
.tb-verde-4 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a8ca98
}
.tb-verde-6 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #6ba612
}
.tb-verde-7 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a9c477
}
.tb-naranja-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fc7647
}
.tb-naranja-2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcc00
}
.tb-naranja-3 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fbf7c9
}
.tb-rojo-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff3300
}
.tb-rojo-2 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cc0000
}
.tb-negro-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000000
}
.tb-blanco-1 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.tb-salmon {
	FONT-SIZE: 11px; COLOR: #a54915; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f6ece7
}
.tb-gris-4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e78408; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1e1e1; TEXT-DECORATION: none
}
.tb-gris-2Copy {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.tb-verde4a {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e9eeef
}
.tb-verde4b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #477d82; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d6e6e8
}
.tb-verde4c {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #477d82; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dfecee
}
.tb-verde4d {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #477d82; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e8f2f3
}
.tb-verde4e {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d6e6e8
}
.tb-ch-gris1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef4f8
}
.tb-ch-gris2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d9e3ec
}
.tb-ch-gris3 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a1b7cb
}
.tb-ch-gris4 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c7d5e2
}
.tb-ch-gris5 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8da4b8
}
.tb-ch-gris6 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c7d5e2
}
.tb-naranja2a {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f3f3
}
.tb-naranja2b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ef4810; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fce9bb
}
.tb-naranja2c {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ef4810; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fdf2d5
}
.tb-naranja2d {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ef4810; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fef7e5
}
.tb-naranja2e {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fce9bb
}
.tb-msdn-azul-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #08558c
}
.tb-msdn-gris-1 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f1f1f1
}
.tb-msdn-gris-2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.tb-violeta-1 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #8d3da1
}
.separador {
	MARGIN-BOTTOM: 10px
}
.form-gral {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.campos-option-1 {
	FONT-SIZE: 11px; WIDTH: 120px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.form-rojo-1 {
	BORDER-RIGHT: #9c1c18 1px solid; BORDER-TOP: #9c1c18 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #9c1c18 1px solid; COLOR: #000000; BORDER-BOTTOM: #9c1c18 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.form-azul-1 {
	BORDER-RIGHT: #47658e 1px solid; BORDER-TOP: #47658e 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #47658e 1px solid; COLOR: #000000; BORDER-BOTTOM: #47658e 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.form-gris-1 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.btn-1 {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #ffffff; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699
}
.btn-2 {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #336699; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.destacado-blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bkg-gris-F6F6F6 {
	BACKGROUND-COLOR: #f6f6f6
}
.bkg-blanco {
	BACKGROUND-COLOR: #ffffff
}
.bkg-celeste-E0EDFF {
	BACKGROUND-COLOR: #e0edff
}
.bkg-celeste-C1DAFF {
	BACKGROUND-COLOR: #c1daff
}
.bkg-rojo-anaranj-FE582F {
	BACKGROUND-COLOR: #fe582f
}
.bkg-azul-6699CC {
	BACKGROUND-COLOR: #6699cc
}
.Cat1Fade {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#AEB0CC'); BACKGROUND-COLOR: #ffffff
}
.dgr-soc-fichatecnica-bkgtabla {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E1E8EF', EndColorStr='#FFFFFF'); BACKGROUND-COLOR: #ffffff
}
.Cat1Standardcolor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; HEIGHT: 23px; BACKGROUND-COLOR: #e9eaf1
}
H1.pageHeading2 {
	MARGIN-TOP: 0.3em; FONT-WEIGHT: normal; FONT-SIZE: 180%; MARGIN-BOTTOM: 0em; FONT-FAMILY: Arial; TEXT-ALIGN: left; fontSize: medium
}
P.bajadamiddle {
	MARGIN-TOP: 0.3em; FONT-WEIGHT: normal; FONT-SIZE: 100%; MARGIN-BOTTOM: 0em; VERTICAL-ALIGN: bottom; FONT-FAMILY: Verdana; TEXT-ALIGN: left; fontSize: medium
}
TR.DGPageStyle TD A:active {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TR.DGPageStyle TD A:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TR.DGPageStyle TD A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TR.DGPageStyle TD A:hover {
	FONT-SIZE: 11px; COLOR: #787878; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TR.DGPageStyle TD SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-negro {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-gris {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-gris2 {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-10-negro {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WORD-SPACING: 0px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tit-secciones {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/latam/socios/OEM/images_HP/pixel_verde.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 0px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 33px; BACKGROUND-COLOR: #009900; TEXT-DECORATION: none
}
.subtit-negro {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-blanco {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.subtit-rojo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #dc3113; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.link-negro:active {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro:hover {
	COLOR: #787878
}
A.link-negro10:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro10:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro10:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-negro10:hover {
	COLOR: #333333
}
A.link-verde:active {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-verde:visited {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-verde:link {
	FONT-SIZE: 11px; COLOR: #007929; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-verde:hover {
	COLOR: #999999
}
A.link-naranja:active {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja:visited {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja:link {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.link-naranja:hover {
	COLOR: #666666
}
.tb-secciones1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #f87311 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fef1e7
}
.tb-naranja {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f87311
}
.tb-verde {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #52b002 3px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e3eddb
}
.tb-gris {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #52b002 3px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4f4
}
.tb-verde2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #52b002
}
.tb-rosa {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9c29f
}
.bkg-secciones {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 33px 50%; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(/latam/socios/OEM/images_HP/pixel_verde.gif); PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; HEIGHT: 33px; BACKGROUND-COLOR: #83bd61
}
.bkg-navegacion {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/latam/socios/OEM/images_HP/pixel_gris.gif); COLOR: #ffffff; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a9a9a9
}
.txt-negro_13 {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linea_punteada {
	BACKGROUND-IMAGE: url(/latam/socios/OEM/images_HP/linea_puntos.gif); BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #dc3113
}
.tb-blanca {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 6px; BORDER-BOTTOM: #ffffff 10px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.tb_gris2 {
	BACKGROUND-COLOR: #cccccc
}
