vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 May 2006 18:45:35 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|DELL840-04\\rmontoya
vti_modifiedby:SR|DELL840-04\\rmontoya
vti_timecreated:TR|02 May 2006 18:45:35 -0000
vti_cacheddtm:TX|02 May 2006 18:45:35 -0000
vti_filesize:IR|100
vti_backlinkinfo:VX|personalsite/cursosInstituto.asp personalsite/datos.asp personalsite/cursos.asp personalsite/datosfull.asp personalsite/experiencia.asp personalsite/login.asp personalsite/cursolist.asp personalsite/certificadosold.asp personalsite/certificados.asp personalsite/cursosEstudiando.asp personalsite/modlist.asp personalsite/cursor1.htm personalsite/cursosInstitutoOLD.asp personalsite/datospersonales.asp personalsite/cursosmod.asp personalsite/educacion.asp
